header {
    height: auto;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}
img {
    width: 270px;
    
}

body {
    padding: 30px;
}

main {
    flex: 1 1 auto;
}

h1 { 
    font-family: Verdana,
        Geneva,
        Tahoma,
        sans-serif;
    margin: auto;
    padding: 10px;
}

h2 { 
    padding-left: 60px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    color: #FF6B08;
    margin: 5px;
}

a {
    color: rgb(97, 95, 95);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icons {
    height: 18px;
    width: 18px;
    padding-left: 10px;
    margin-bottom: -2px;
}

footer {  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: solid 1px #000;  
    background: linear-gradient(#0058B5,#F7CE00);
}

a:hover {
    text-decoration: underline #FF6B08;
}

@media screen and (max-width: 800px){
    h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 700px){
    header img {
        width: 120px;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
}

