header {
    height: auto;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}
img {
    width: 270px;
}
h1 {
    margin: auto;
    padding: 10px;
}
caption {
    border: solid 1px;
    border-radius: 5px 5px 0 0;
}
table {
    border: solid 1px;
    border-radius: 0 0 5px 5px;
}
th {
    padding: 5px;
    border-radius: 5px;
    border: solid 1px rgb(202, 19, 19);
}
button:hover {
    color: aqua;
}
button:active {
    background-color: rgb(255, 6, 6);
}
sub {
    color: rgb(241, 21, 21);
}
li {
    margin: 5px;
}
